body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header-content {
    flex: 1;
}

.profile-photo {
    width: 200px;
    border-radius: 5px;
}

.publication {
    display: flex;
    margin-bottom: 20px;
}

/*high resolution png in publation*/
.publication img {
    width: 480px;
    height: 360px; /* Set a fixed height */
    object-fit: cover;
    object-position: center;
}
/* Add more styles as needed */